<a href="https://colab.research.google.com/github/tofighi/ITM760/blob/main/Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Playing with environment
Watch [this video](https://www.youtube.com/watch?v=inN8seMm7UI) to learn more about Google Colab environment. 

### Let's print date and time!

In [3]:
import time
print(time.ctime())

Wed Jan 12 22:30:55 2022

## Running Linux Commands
When you want to run a linux command, simply ad `!` before you srart the line. For example, You can find out which linux distribution is running Google Colab, you can simply run `!lsb_release -a` as follows. 

### Linux command line cheatsheet
A nice cheatsheet is available [here](https://cheatography.com/davechild/cheat-sheets/linux-command-line/) for your information.

In [4]:
!lsb_release -a

No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.5 LTS
Release:	18.04
Codename:	bionic

## How to download datasets to the environment?
You can use `!wget` to download files directly to your Colab environment to start processing them. For example, `Salaries.csv` is one of the files we need for processing in GitHub which is available [here](https://github.com/tofighi/ITM760/blob/main/dataset/Salaries.csv). However, when we want to download it to Colab, we should click on `Raw` to download the file, not its GitHub page! The link to file is `https://raw.githubusercontent.com/tofighi/ITM760/main/dataset/Salaries.csv`

In [6]:
!wget -q https://raw.githubusercontent.com/tofighi/ITM760/main/dataset/Salaries.csv

## Common Data Science Related libraries

In [8]:
#Import Python Libraries
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib as mpl
import seaborn as sns

### Use Pandas to load Salaries.csv data
In the previous cell we downloaded a Salaries.csv directly to Colab environment using `!wget`. Now, you can show analyze it using `Pandas` library as follows:

In [13]:
df = pd.read_csv("Salaries.csv")
# List first 5 records
df.head(5)

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000
2  Prof          A   23       20  Male  110515
3  Prof          A   40       31  Male  131205
4  Prof          B   20       18  Male  104800

### Showing data types in DataFrame
Use `df.dtypes` or `df.info()` to show the data types in all columns. You can select a particular column of DataFrame such as `salary` as well by using `df['salary'].dtype`

In [17]:
df.dtypes

rank          object
discipline    object
phd            int64
service        int64
sex           object
salary         int64
dtype: object

In [18]:
#Check a particular column type
df['salary'].dtype

dtype('int64')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   rank        78 non-null     object
 1   discipline  78 non-null     object
 2   phd         78 non-null     int64
 3   service     78 non-null     int64
 4   sex         78 non-null     object
 5   salary      78 non-null     int64
dtypes: int64(3), object(3)
memory usage: 3.8+ KB

### Calculate some statistics
There are DataFrame methods available for calculating statistics such as `max(), min(), mean(), median(), std(), describe()`

In [31]:
df.describe()

             phd    service         salary
count  78.000000  78.000000      78.000000
mean   19.705128  15.051282  108023.782051
std    12.498425  12.139768   28293.661022
min     1.000000   0.000000   57800.000000
25%    10.250000   5.250000   88612.500000
50%    18.500000  14.500000  104671.000000
75%    27.750000  20.750000  126774.750000
max    56.000000  51.000000  186960.000000

#### An example of for loop

In [30]:
Departments = ["IT","HR","Marketing"]
for x in Departments:
  print("The department name is: " + x )

The department name is: IT
The department name is: HR
The department name is: Marketing